@import '../../../styles/colors';

#meme-ory {
  background: $brown-100-color;

  .vertical.segment {
    border: none;
  }

  main {
    padding-top: 20vh;
  }

  .logo {
    cursor: pointer;
  }

  .two.column {
    :first-child {
      width: 60%;
    }
    :last-child {
      width: 40%;
    }
  }

  .congrats {
    font-size: 5em;
  }

  .size {
    font-size: 1.5em;
  }

  .time {
    font-size: 3em;
    font-style: italic;
  }

  #history-table-session,
  #history-table-local,
  #history-table-indexed {
    &.table {
      width: 100%;
    }
  }
  #history-table-indexed {
    margin-bottom: 100px;
  }
}
