<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MÈME ory</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/bootstrap.css">
</head>

<body class="d-flex flex-column">
<nav class="navbar bg-primary mb-3 shadow">
    <a class="navbar-brand d-flex" href="#">
        <img class="d-inline-block align-top" src="../../assets/logo_take_my_money.png" alt="logo">
        <span class="align-self-center m-2">MÈME ory</span>
    </a>
    <span class="navbar-title"></span>
</nav>

<div class="container-fluid flex-grow-1 overflow-auto">
    <div class="game">
        <main class="cards flex-row h-100"></main>
    </div>

    <footer class="navbar position-absolute fixed-bottom bg-dark">
        <span>&copy The MÈME ory corporation | 2019</span>
    </footer>
</div>
</body>

<!-- TODO put in card.component.html in step XXX -->
<template id="card-template">
    <div class="card">
        <div class="card-wrapper">
            <img class="card front-face" alt="card">
            <img class="card back-face" alt="card" src="../../assets/cards/back.png">
        </div>
    </div>
</template>

<!-- link to welcome controller -->
<!-- TODO remove in step XXX -->
<script src="../scripts/game.js"></script>
<script src="../scripts/card.js"></script>
<script>
    new GameComponent().render();
</script>
</html>
