<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MÈME ory</title>
    <!-- TODO Step 1: change css location to '../../styles/style.css'-->
    <link rel="stylesheet" href="../../styles/style.css">
    <!-- TODO Step 1: change css location to '../../styles/bootstrap.css'-->
    <link rel="stylesheet" href="../../styles/bootstrap.css">
    <link rel="stylesheet" href="./score.css">
</head>

<body class="d-flex flex-column">
<nav class="navbar bg-primary mb-3 shadow">
    <a class="navbar-brand d-flex" href="#">
        <img class="d-inline-block align-top" src="../../../assets/logo_take_my_money.png" alt="logo">
        <span class="align-self-center m-2">MÈME ory</span>
    </a>
    <span class="navbar-title"></span>
</nav>

<div class="container-fluid flex-grow-1 overflow-auto">
    <div class="score-cmp">
        <main class="d-flex p-3">
            <div class="flex-grow-1">
                <h3 class="congrats">CONGRATS<br/><span id="name"></span></h3>
            </div>
            <div>
                <img src="./happy_homer.jpg" class="happy">
                <p class="size"><span id="size"></span> pairs</p>
                <p class="time"><span id="time"></span>s</p>
            </div>
        </main>
    </div>

    <footer class="navbar position-absolute fixed-bottom bg-dark">
        <span>&copy The MÈME ory corporation | 2019</span>
    </footer>
</div>
</body>


<!-- link to welcome controller -->
<!-- TODO remove in step XXX -->
<script src="./score.component.js"></script>
<script>
    new ScoreComponent().render();
</script>
</html>

