@import '../../../styles/colors';

#meme-ory {
  background: $blue-grey-100-color;

  .vertical.segment {
    border:none;
  }

  .logo {
    cursor: pointer;
  }

  .cards {
    perspective: 1000px;
  }
}

